<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>发现</title>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/angularJS/ng-tags-input.min.css">
    <link rel="stylesheet" href="/static/css/angularJS/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style/nav.css">
    <link rel="stylesheet" href="/static/css/style/question.css">
</head>
<body>

<div>
    <div class="header">
        <div class="mid" ng-controller="navCtrl">
            <nav class="navbar navbar-tabs">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">首页</a></li>
                            <li class="active"><a href="/explore">发现</a></li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <button type="submit" class="btn btn-info navbar-btn navbar-right"
                                data-toggle="modal" data-target="#question-box">我要提问</button>
                        <div class="modal fade" id="question-box"
                             tabindex="-1" role="dialog" aria-labelledby="question-title" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">提问</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="输入问题标题"
                                                          ng-model="post_ques_info.title"></textarea>
                                                <div class="message-warning" ng-cloak>[[title_warning]]</div>
                                            </div>
                                            <div class="form-group">
                                                <tags-input ng-model="tags" ng-cloak>
                                                    <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                                                </tags-input>
                                                <div class="message-warning" ng-cloak>[[tag_warning]]</div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="输入问题描述"
                                                          ng-model="post_ques_info.content"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="submit" class="btn btn-primary" ng-click="post_question()">提交更改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="content mid" ng-controller="exploreCtrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8" infinite-scroll="loadMore()" infinite-scroll-disabled="disable_scroll" infinite-scroll-immediate-check="false">
                    <div class="row question-box" ng-repeat="question in questions">
                        <div class="container-fluid">
                            <div class="row question-row">
                                <span class="question-title">
                                    <a href="/question/[[question.id]]" ng-bind="question.title"></a>
                                </span>
                            </div>
                            <div class="row question-row">
                                <div class="btn btn-default btn-xs question-tags" ng-repeat="question_tag in tags[question.id]"
                                     ng-click="find_tag(question_tag.id)" ng-bind="question_tag.name">
                                </div>
                            </div>
                            <div class="row question-row">
                                <span class="poster"><a href="/user/[[question.id]]" ng-bind="question.poster"></a></span>
                            </div>
                            <div class="row question-row">
                                <span class="question-content"
                                      ng-bind="question.content.length > 100 ? question.content.substring(0, 100) + '...': question.content">
                                </span>
                            </div>
                            <div class="row question-bottom">
                                <span><a href="#">关注问题</a></span>
                                <span ng-bind="question.post_time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular-animate.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular-cookies.js"></script>
<script type="text/javascript" src="/static/js/angularJS/ng-tags-input.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/infinite-scroll.js"></script>
<script type="text/javascript" src="/static/js/autoresize/autosize.js"></script>
<script>
    autosize(document.querySelectorAll('textarea'))
</script>

<script type="text/javascript" src="/static/js/app/app.js"></script>
<script type="text/javascript" src="/static/js/app/controllers/navController.js"></script>
<script type="text/javascript" src="/static/js/app/controllers/exploreController.js"></script>
</body>
</html>