<!DOCTYPE html>
<html ng-app="myApp" ng-controller="loginCtrl">
<head>
    <meta charset="UTF-8">
    <title>Japan do you know</title>

    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/style/register.css">
    <link rel="stylesheet" href="/static/css/fontawesome/font-awesome.min.css">
</head>
<body>
<div class="wrapper">
    <form ng-submit="registerForm()" role="form">
        <h2>吸猫会所注册</h2>
        <div class="form-group">
            <input name="id" class="form-control" placeholder="username" ng-model="account.username">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="email" ng-model="account.email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="account.password">
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">我已阅读并同意<a href="#">服务条款</a>
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-info pull-right" type="submit">注册</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular-animate.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular-cookies.js"></script>


<script type="text/javascript" src="/static/js/app/controllers/loginController.js"></script>
<script type="text/javascript" src="/static/js/app/app.js"></script>

</body>
</html>