<!DOCTYPE html>
<html ng-app="myApp" ng-controller="loginCtrl">
<head>
    <meta charset="UTF-8">
    <title>Japan do you know</title>

    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style/register.css">
</head>
<body>
<div class="wrapper">
    <form ng-show="switch" ng-submit="loginForm()" role="form" browser-autocomplete-form >
        <h2>登录</h2>
        <div class="form-group">
            <input class="form-control" placeholder="username" ng-model="account_login.email">
            <div class="message-warning" ng-cloak>[[emailMessage_login]]</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="account_login.password">
            <div class="message-warning" ng-cloak>[[passwordMessage_login]]</div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="#">忘记密码</a>
            </div>
        </div><br>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-info btn-block" type="submit">登陆</button>
            </div>
        </div><br>

        <div class="row">
            <div class="col-xs-12">
                <a class="pull-right" ng-click="turnToRegister()" href="#">注册</a>
            </div>
        </div>
    </form>

    <form ng-show="!switch" ng-submit="registerForm()" role="form" browser-autocomplete-form>
        <h2>吸猫会所注册</h2>
        <div class="form-group">
            <input class="form-control" placeholder="username" ng-model="account_register.username">
            <div class="message-warning" ng-cloak>[[userMessage_register]]</div>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="email" ng-model="account_register.email">
            <div class="message-warning" ng-cloak>[[emailMessage_register]]</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="account_register.password">
            <div class="message-warning" ng-cloak>[[passwordMessage_register]]</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="agree">我已阅读并同意<a href="#">服务条款</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-info btn-block" type="submit" ng-disabled="!agree">注册</button>
            </div>
        </div><br>

        <div class="row">
            <div class="col-xs-12">
                <a class="pull-right" ng-click="turnToLogin()" href="#">登陆</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular-animate.min.js"></script>
<script type="text/javascript" src="/static/js/angularJS/angular-cookies.js"></script>
<script type="text/javascript" src="/static/js/angularJS/ng-tags-input.min.js"></script>


<script type="text/javascript" src="/static/js/app/app.js"></script>
<script type="text/javascript" src="/static/js/app/controllers/loginController.js"></script>

</body>
</html>